content/**/*.txt
node_modules/**
resources
themes/cocoa-eh/data/**
themes/cocoa-eh/static/css/**
themes/cocoa-eh/static/js/**
themes/cocoa-eh/static/fonts/social*
*sublime-*
hugo.exe
public
hugo
.hugo_build.lock