<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
	<link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
	
	<script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>

	<header id="header">
		<div class="inner clearfix">
			<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
			<ul class="nav">
				<li><a href="/">Blog</a></li>
				<li><a href="/fr/tips/start">Tips (EN)</a></li>
				<li><a href="/fr/debian/start">Wiki (FR)</a></li>
				<li><a href="/en/debian/start">Wiki (EN)</a></li>
				<li><a href="/user/sebastien_lucas">Contact</a></li>
			</ul>
		</div>
	</header>

	<section id="content">
		<div class="inner">

 {% if is_front_page %}
            {% if meta.title %}
                <h1>{{ meta.title }}</h1>
            {% endif %}
{% for page in pages %}
{% if page.date and not(page.url == base_url~'/') %}
		    <div class="post">
		        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
		        <p class="meta">Published {{ page.date_formatted }} // 
                    <!-- display single page tags with proper urls -->
                    {% for tag in page.tags %}
                        <a href="/tag/{{ tag }}">#{{ tag }}</a>
                    {% endfor %}
                </p>
		        <p class="excerpt">{{ page.excerpt }}</p>                
		    </div>
{% endif %}
{% endfor %}
{% else %}
		    <div class="post">
{% if meta.date %}
		        <p class="meta" style="float:right">Published {{ meta.date_formatted }} //
                <!-- display single page tags with proper urls -->
                {% for tag in meta.tags %}
                    <a href="/tag/{{ tag }}">#{{ tag }}</a>
                {% endfor %}
                </p>
{% endif %}
		        {% spaceless %}{{ content }}{% endspaceless %}
				
		    </div>
{% endif %}

        
		</div>
	</section>
	
	<footer id="footer">
		<div class="inner">
			Basé sur une version modifiée de <a href="http://pico.dev7studios.com">Pico</a>. Sauf mention contraire, le contenu de ce wiki est placé sous la licence suivante : <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC Attribution-Noncommercial-Share Alike 3.0 Unported</a>.
		</div>
	</footer>
    
</body>
</html>